<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">



<nav th:replace="fragments :: navigation"></nav>
<h1 th:text="${title}"></h1>
<form method="post" style="max-width:600px;" th:object="${form}" action="/routine/random-routine">

    <table class="table" name="workoutId">


        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
        </tr>

        <tr th:each="workout : ${workouts}">
            <td th:text="${workout.name}"></td>
            <td th:text="${workout.description}"></td>
            <td th:text="${workout.category.name}"></td>
        </tr>

    </table>
    <input type="hidden" name="routineId" value="*{routine.id}" />
    <input type="submit" value="Add Random Routine" />
</form>

</body>
</html>