<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${routine}">
    <div class="form-group">
        <label th:for="type">Type</label>
        <select name="categoryId">
            <option th:each="category : ${categories}"
                    th:text="${category.name}"
                    th:value="${category.id}"></option>
        </select>
    </div>

    <input type="submit" value="Create Workout Routine" />
</form>

<ul>
    <li th:each="workout : ${routine.workouts}" th:text="${workout.name}"></li>
</ul>

<p th:unless="${routine.workouts.size()}">You currently have no exercise to view in your workout.</p>

<p><a th:href=" '/routine/add-exercise/' +${routineId}">Add Exercise</a></p>

</body>
</html>