<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">


<nav th:replace="fragments :: navigation"></nav>

<div class="jumbotron text-center">
<h1 th:text="${title}"></h1>
</div>

<!--p th:unless="${workouts} and ${workouts.size()}">You have no workouts to display</p-->


<h2>Create New Exercise</h2>
<form method="post" th:object="${workout}">

    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="type">Type</label>
        <select name="categoryId">
            <option th:each="category : ${categories}"
                    th:text="${category.name}"
                    th:value="${category.id}"></option>
        </select>
    </div>

    <input type="submit" class="btn btn-info" value="Add Exercise" />

</form>

</body>
</html>