<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org/">
<head th:replace="fragments :: head">


</head>
<body>

<div class="container" id="workout">
    <h1>Get Your Excercise Routine!</h1>
    <label th:for="exercises">Exercise:</label>
    <select id="exercises">
        <option value="6">Upper Body</option>
        <option value="12">Lower Body</option>
        <option value="14">Full Body</option>

    </select>
    <input type="button" value="search" id="submit" />
</div>

<div id="results">

</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>

</body>
</html>