<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Workout Builder</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav th:fragment="navigation">
        <a href="/routine">Your Workout Routines</a> |
        <a href="/workout/add"> Add Exercise to Workout</a> |
        <a href="/workout/remove">Remove Workout</a> |
        <a href="/workout"> All Exercises</a> |
        <a href="/logout">Logout</a>
    </nav>
</body>
</html>