<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Workout Builder</title>

    <!--link rel="stylesheet" th:href="@{/css/styles.css}" /-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default" th:fragment="navigation">
        <div class="container-fluid">


        <a href="/routine" class="btn btn-basic" role="button">Home</a> |
        <a href="/routine/add" class=" btn btn-basic" role="button">Create New Workout</a> |
        <a href="/workout/add" class="btn btn-basic" role="button"> Add Exercise to Database</a> |
        <a href="/workout/remove" class="btn btn-basic" role="button">Remove Exercise</a> |
        <a href="/workout" class="btn btn-basic" role="button"> All Exercises</a> |
        <a href="/logout" class="btn btn-basic" role="button">Logout</a>


        </div>
    </nav>

</body>
</html>