<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">


<nav th:replace="fragments :: navigation"></nav>

<div class="jumbotron text-center">
<h1 th:text="${title}"></h1>

<h1>Welcome, <span th:text="${user.userName}"></span></h1>
</div>




<h3 class="text-center">Your Workouts</h3>

<ul class="list-group">
    <li class="list-group-item" th:each="routine : ${routines}">
        <a th:href=" '/routine/view/' + ${routine.id}" th:text="${routine.name}"></a>
    </li>
</ul>
<br />
<a href="/routine/add" class="btn btn-info" role="button">Build a New Workout!</a>



</body>
</html>